. filter=lfs diff=lfs merge=lfs -text
cifar-10-python.tar.gz filter=lfs diff=lfs merge=lfs -text
train.csv filter=lfs diff=lfs merge=lfs -text
Computer[[:space:]]Exercise[[:space:]]8/cifar-10-python.tar.gz filter=lfs diff=lfs merge=lfs -text
Computer[[:space:]]Exercise[[:space:]]6/train.csv filter=lfs diff=lfs merge=lfs -text
